html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: blue; /* Old browsers */
    background: linear-gradient( lightblue, deepskyblue);
}
table {
  margin:20px auto;
  table-layout: fixed;
  width:250px;
}
table td {
  padding:5px;
}
table td input {
  margin-bottom: 1em;
  width:100%;
}
table td button {
  width:100%;
}
.btn {
  outline:none !important;
}
.btn-tall {
  /* FIXME only way I could get tall buttons to fill table cell vertically */
  height:100px;
}
.btn-default.focus, .btn-default:focus {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  /* FIXME we don't want buttons looking focused on click
  color: #333;
  background-color: #E6E6E6;
  border-color: #8C8C8C;*/
}

.blue-gradient {
    background: blue; /* Old browsers */
    background: linear-gradient( deepskyblue, dodgerblue);
}

.panel-default {
  margin: 10px auto;
  width:60%;
  max-width:400px;
  border-color:gray;
}