html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: blue; /* Old browsers */
    background: linear-gradient( lightblue, deepskyblue);
}

table td button {
  width:100%;
}
.blue-gradient {
    background: blue; /* Old browsers */
    background: linear-gradient( deepskyblue, dodgerblue);
}

.panel-default {
  margin: 10px auto;
  width:60%;
  max-width:400px;
  border-color:gray;
}